<meta charset="utf-8">
<title>new-sortables</title>
<!-- Latest compiled and minified CSS -->
<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->
<link rel="stylesheet" href="css/_bootstrap.css">


<style>
   #pages, #cloned_items {
   list-style: none;
   }

   #pages li {
   float: left;
   position: relative;
   z-index: 5;
   }

   ul li {
   margin: 15px 15px 15px 15px;
   padding: 1px;
   width: 80px;
   height: 60px;
   font-size: 1em;
   text-align: center;
   border: solid 1px #333;
   background-color: #eaa10e;
   }

   #cloned_items li {
   position: absolute;
   z-index: 1;
   background-color: #eaa10e;
   }
   body {
     padding: 50px;
     font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   }

   a {
     color: #00B7FF;
   }
</style>
