<!DOCTYPE html>
<html>
<head>
  <% include partials/_head %>
</head>
<body>
  <div class="container">
     <div class="row">
        <div class="col-lg-6">
           <div class="input-group">
              <input type="text" id="google-search" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default btn-search" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
           </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
     </div>

     <ul id="pages"></ul>
     <ul id="cloned_items"></ul>
  </div>

  <% include partials/_jquery %>

  <!-- Pages generator -->
  <script type="text/javascript">
    $(function () {
      var pages = <%- pages %>;

      pages.forEach(function (page) {
        $('#pages').append(function () {
          return `<li class="page">
                    <a href="${page.address}">
                      <img src="${page.image}" alt="${page.name}" />
                      <span>${page.name}</span>
                    </a>
                  </li>`;
        });
      });
    });
  </script>

  <!-- Pages sorter -->
  <script src="javascripts/sortable.js"></script>

  <!-- Droppable search -->
  <script src="javascripts/droppable-search.js">

  </script>
</body>
</html>
