.btn-search {
   width: 60px;
}

#pages, #cloned_items {
list-style: none;
}

#pages li {
float: left;
position: relative;
z-index: 5;
}

ul li {
margin: 15px 15px 15px 15px;
padding: 1px;
width: 80px;
height: 60px;
font-size: 1em;
text-align: center;
border: solid 1px #333;
background-color: #eaa10e;
}

#cloned_items li {
position: absolute;
z-index: 1;
background-color: #eaa10e;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
